<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.udg.exit.heartrate">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Bluetooth Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Required Bluetooth LE -->
    <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="true"/>

    <!-- Application -->
    <application
            android:name=".TodoApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!-- Launch Activity -->
        <activity android:name=".Views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Activities -->
        <activity android:name=".Views.ScanActivity"/>
        <activity android:name=".Views.PairActivity"/>
        <activity android:name=".Views.MeasureActivity" />

        <!-- Services -->
        <service android:name=".Services.BluetoothService"/>
        <service android:name=".Services.ApiService"/>
    </application>

</manifest>